/*variabelen*/
$text-font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$text-font-size: 15px;


body{
    background-color: #c3cfe2;
    padding: 15px;
}
.card{
    border: 1px solid black;
    border-radius:15px;
    margin:15px;
    width:355px;
    height:340px; 
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 10% 20% 20%;
    
    &__text { 
    font-family: $text-font-family;
    font-size: $text-font-size;
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    }
   
    &__testimonial{
    border-radius: 0px 0px 15px 15px;
    background-color: #686de0;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    font-family: $text-font-family;
    font-size: $text-font-size;
    text-align: center;
    padding: 40px;
    color: white;

    
}
    &__image {
    grid-column-start: 3;
    grid-row-start: 3;
    position: relative;
    border-radius: 50%;
    border-width: 150px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width:56px;
    height:68px;
    
    
}

}
     
